//Primary

//Scissor Yellow Color:
$yellow: rgb(236,158,14);
//Paper Blue Color:
$blue: rgb(72,101,244);
//Rock Red Color:
$red: rgb(220,46,78);
//Lizard Purple Color:
$purple: rgb(131,79,227);
//Cyan Cyan Color:
$cyan: rgb(64,185,206);

//Neutral

//Text Color:
$dark-text: hsl(229, 25%, 31%);
$score-text: hsl(229, 64%, 46%);
$header-outline: hsl(217, 16%, 45%);

//Background
$color-background: circle, rgba(20,21,57,1) 8%, rgba(31,55,86,1) 100%;